body {
	font-size: 14px;
	background-color: #f2ebe3;
}

p {
	font-family: 'Montserrat', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Fraunces', serif;
}

h2 {
	font-weight: 700;
}

.card {
	border: none;
}

.card-body {
	margin-right: 0.5em;
	margin-left: 0.5rem;
}

.container-md {
	margin-top: 15rem;
}

.price-new {
	display: inline-block;
	color: #3c8067;
}

.price-old {
	text-decoration: line-through;
	display: inline-block;
}

.card-perfume {
	text-transform: uppercase;
}

.btn,
.btn:first-child:active {
	background-color: #3c8067;
	color: white;
	border: none;
	font-size: 12px;
	height: 3rem;
}

.btn:hover,
.btn:focus-visible {
	background-color: #3c8067;
	color: white;
	border: none;
	transform: scale(110%);
}

@media screen and (max-width: 765px) {
	div.row.g-0 {
		display: flex;
		flex-direction: column;
	}

	.container-md {
		margin-top: 0;
		--bs-gutter-x: 0;
	}

	.header-image {
		width: 100%;
		border-radius: 1rem;
	}
}
